body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-image: url("images/NicePng_dna-icon-png_2030091.png");
}
#canvas {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    
}
.generations {
    position: absolute;
    top: 30%;
    left: 3%;
    width: 300px;
    height: 200px;
    border: 3px solid rgb(102, 102, 224);
    background-color: black;
}
.gen{
    position: relative;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 200%;
    left: 10%;
}
.day {
    position: relative;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 200%;
    left: 10%;
    top: 10%;
}