body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#canvas {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 90%;
    border-radius: 10%;
}
.generations {
    position: absolute;
    top: 30%;
    left: 1%;
    width: 300px;
    height: 200px;
    border: 3px solid rgb(102, 102, 224);
    background-color: black;
}
.gen{
    position: relative;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 200%;
    left: 10%;
}
.day {
    position: relative;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 200%;
    left: 10%;
    top: 0%;
}
.indiv {
    position: relative;
    font-family: Trattatello, fantasy;
    color: white;
    font-size: 200%;
    left: 10%;
    top: -5%;
}
.mutated {
    position: absolute;
    top: 5%;
    left: 80%;
    width: 150px;
    height: 90%;
    border: 3px solid rgb(102, 102, 224);
    background-color: black;
}
.ball {
    position: relative;
    top: 10%;
    left: 30%;
    border-radius: 50%;
    background-color: red;
    width: 15px;
    height: 15px;
    animation: MoveUpDown 1s linear infinite;
}
@keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 25px;
    }
  }
.container {
    position: relative;
    top: 2%;
    left: 10%;
    color: rgb(102, 102, 224);
    margin-top: 25%;
}